In [1]:
import os
import os.path
import re
import pandas as pd

In [13]:
aggregate_path = "./output/unsmoothed"
data_frames = []
pattern = re.compile(r"Average\-Metrics\-")

for root, dirs, files in os.walk(aggregate_path):
    for file in files:
        if pattern.match(file):
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path)
            df = df.rename(columns=str.lower)
            if "horizon" not in df.columns:
                df["horizon"] = root[-1]
            df["horizon"] = df["horizon"].astype(int)
            data_frames.append(df)

# Concatenate all data frames into a single data frame
combined_df = pd.concat(data_frames, ignore_index=True)

In [14]:
combined_df.head()

     model  horizon location     mse    mae  x95.pi    wis
0    ARIMA        1    China  197.73  10.73   87.50   6.94
1      GAM        1    China  268.73  12.50   71.88   8.62
2      GLM        1    China  728.85  21.19   34.38  16.83
3  Prophet        1    China  726.05  21.17   59.38  15.12
4    ARIMA        2    China  412.30  15.06   82.26   9.92

In [15]:
combined_df.to_csv(os.path.join(aggregate_path, "dashboard_metrics.csv"), index=False)